[Unit]
Description=Liebermen expressjs server
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/.nvm/versions/node/v19.6.0/bin/npm start
WorkingDirectory=/home/ubuntu/GitHub/lieber.men
Environment="HOST=127.0.0.1"
Environment="PORT=6969"

User=ubuntu
Group=ubuntu
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
